.toggle{
    display: flex;
    border: 2px solid white;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
}
.toggle>*{
    width: 1.3rem;
    height: 1.2rem;
    color: white;
}
.t-button{
    border-radius: 100%;
    background: red;
    position: absolute;
}